In [18]:
#using For Loop
first = 0
second = 1
for i in range(50):
  if first>50:
    break
  print(first,' ',end="")
  first,second = second,first+second

0  1  1  2  3  5  8  13  21  34

In [27]:
#To get the expected Output we can simply change both of the variables which are declared at the start to 1
num1=1
num2=1
for i in range(50):
  if num1>50:
    break
  print(num1," ",end="")
  num1,num2=num2,num1+num2

print("\n----------------------------------")

#And we can do the same thing with while loop as well
a= 1
b=1
while(a<50):
  print(a," ",end = "")
  a,b=b,a+b

1  1  2  3  5  8  13  21  34
----------------------------------
1  1  2  3  5  8  13  21  34

In [17]:
#using While Loop
a= 0
b=1
while(a<50):
  print(a," ",end = "")
  a,b=b,a+b

0  1  1  2  3  5  8  13  21  34